<nav class="navbar-default">
  <div class="control-fluid">

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Škola</a></li>
        <li><a href="#">Intenziv</a></li>
        <li><a href="#">Testovanie</a></li>
        <li><a href="#">Blog</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Ešte <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Knihy</a></li>
            <li><a href="#">Vebinar</a></li>
          </ul>
        </li>
      </ul>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">+421-91-000-4444</a></li>
          <li><a href="#">Kontakty</a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>
