.navbar-collapse, .navbar-default{
  background-color: #b94231;
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: #e0b7b2;
}


.my-red {
  background-color: #b94231 !important;

}
a {
  color: white !important;
}
