.my-red {
  background-color: #ce4a37 !important;
  font-weight: bold;
}

.collapse navbar-collapse>a{
  text-align: right;
  align-content: end;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
