<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-light my-red shadow p-3 ">
  <a class="navbar-brand" href="#">RusJaz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown " *ngIf="isAuthenticated && user.role == 'ADMIN'">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkAdmin">
          <a class="dropdown-item" routerLink="courses">Všetky kurzy</a>
          <a class="dropdown-item" routerLink="coursesAdd">Pridat kurz</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Učitelia <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Kurzy
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="coursesForAll">Všetky kurzy</a>
          <a class="dropdown-item" href="#">Ruský pre začatočnikov</a>
          <a class="dropdown-item" href="#">Rusky pre pokrocilych</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cena</a>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" routerLink="feedbacks" id="navbarDropdownMenuLinkHodnotenia" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hodnotenie
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkHodnotenia" *ngIf="isAuthenticated && user.role == 'USER'">
          <a class="dropdown-item" routerLink="feedbacksAdd" >Pridat hodnotenie</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about-us">O nas</a>
      </li>
    </ul>
  </div>
</nav>


