.page-footer {
  background-color: #23252c;
  color: lightgray;
}

.i {
  color: white !important;
}

a {
  color: lightgray !important;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white !important;
}

/* Add a hover effect*/
.fa:hover {
  opacity: 0.7;
}


