<!-- Footer -->
<footer class="page-footer font-small  pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4">RusJaz</h6>
        <p>Tu bude lepsi text neskor, zatial to necham tak.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <p></p>
        <p>
          <a href="#!">Hlavná stránka</a>
        </p>
        <p>
          <a href="#!">Učitelia</a>
        </p>
        <p>
          <a href="#!">Kurzy</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <p></p>
        <p>
          <a href="#!">Cena</a>
        </p>
        <p>
          <a href="#!">Hodnotenia</a>
        </p>
        <p>
          <a href="#!">O nas</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4">Kontakty</h6>
        <p>
          <span class="material-icons">home</span> Zilina, ZA 01001, SK</p>
        <p>
         <span class="material-icons">email</span> info@gmail.com</p>
        <p>
         <span class="material-icons">phone</span> +421 91 333 222
        </p>
        <p>
          <span class="material-icons">print</span> +421 91 000 444</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright: RusJaz</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="">

        <!-- Social buttons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="template-demo">
          <button type="button" class="btn btn-social-icon btn-facebook btn-rounded">
            <i class="fa fa-facebook"></i>
          </button>
          <button type="button" class="btn btn-social-icon btn-youtube btn-rounded">
            <i class="fa fa-youtube"></i>
          </button>
          <button type="button" class="btn btn-social-icon btn-twitter btn-rounded">
            <i class="fa fa-twitter"></i>
          </button>
          <button type="button" class="btn btn-social-icon btn-instagram btn-rounded">
            <i class="fa fa-instagram"></i>
          </button> </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
