
<div class="jumbotron my-top-jumbotron">
  <div  class="top-wrapper">
    <!-- Grid row -->
    <div class="row ">

      <!-- Grid column -->
      <div class="col-md-7 ml-3 mt-3">

        <!-- Excerpt -->
        <h1 class="h1 mb-2">O škole</h1>

        <h4 class="display-6 ">Online škola „RusJaz“ je moderná služba osobnej výučby ruského jazyka. Našim študentom pomáhame zlepšovať vedomosti a tešiť sa z každej hodiny.</h4>
        <div class="my-button-place">
          <a class="btn btn-lg my-button" href="#" role="button">Skúšobná lekcia</a>
          <a class="btn btn-lg my-button-2" href="#" role="button">Historia školy</a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-3 my-3">

        <!-- Featured image -->
        <div class="view overlay">
          <img class="hide-this my-img-about" src ="../../assets/about.png">
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
</div>
<!-- News jumbotron -->

<!--second section-->

<div class="section my-base-info">
  <div class="section-content base-wrapper">
    <div class="row my-4 " >
      <div class="col-sm-2 my-col">
        <ul class="featured-list featured-list-bordered media-list">
          <li class="mb-5 media">
            <div class="media-body">
              <a class="pull-top">
                <img class="media-object image-years my-icon" src="../../assets/image-years.png">
              </a>
              <h3 class="media-heading">15</h3>
              <div class="">
                <p>
                  rokov
                  <br>
                  úspešnej práce
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 my-col">
        <ul class="featured-list media-list">
          <li class="mb-5 media">
            <div class="media-body">
              <a class="pull-top">
                <img class="media-object image-employee my-icon" src="../../assets/image-employee.png">
              </a>
              <h3 class="media-heading">63</h3>
              <div class="">
                <p>
                  zamestnancov
                  <br>
                  v kancelárii
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 my-col">
        <ul class="featured-list media-list">
          <li class="mb-5 media">
            <div class="media-body">
              <a class="pull-top">
                <img class="media-object image-teachers my-icon" src="../../assets/image-teachers.png">
              </a>
              <h3 class="media-heading">482</h3>
              <div class="">
                <p>
                  silných
                  <br>
                  učiteľov
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 my-col">
        <ul class="featured-list media-list">
          <li class="mb-5 media">
            <div class="media-body">
              <a class="pull-top">
                <img class="media-object image-students my-icon" src="../../assets/image-students.png">
              </a>
              <h3 class="media-heading">4235</h3>
              <div class="">
                <p>
                  stálych
                  <br>
                  študentov
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 my-col">
        <ul class="featured-list media-list">
          <li class="mb-5 media">
            <div class="media-body">
              <a class="pull-top">
                <img class="media-object image-graduated my-icon" src="../../assets/image-graduated.png">
              </a>
              <h3 class="media-heading">16320</h3>
              <div class="">
                <p>
                  absolventov
                  <br>
                  škôl
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 my-col">
        <ul class="featured-list media-list">
          <li class="mb-5 media">
            <div class="media-body">
              <a class="pull-top">
                <img class="media-object image-classes my-icon" src="../../assets/image-classes.png">
              </a>
              <h3 class="media-heading">583000</h3>
              <div class="">
                <p>
                  odučených
                  <br>
                  hodín
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--end second section-->

<!--section - reasons why-->

<div class=" section section-my-reasons">
  <div class="my-reasons">
  <div class="my-reasons-title">
    <h1>Prečo si vybrať «RusJaz»? </h1>
  </div>
    <div class="reason-wrapper">

      <!--  first reason why-->
      <div class="row reason">
        <span class="reason-number">1</span>
        <div class="col-md-10 offset-md-1 mx-2">
          <a class="reason-title collapsed" data-toggle="collapse" href="#reason1" >Riešime vaše problémy</a>
        </div>
      </div>
      <div id="reason1" class="my-reason-description ">
        <p>
          Každý študent má svoj vlastný príbeh. Možno ste študovali jazyk na škole a univerzite, ale nikdy ste sa ho nenaučili? Rozumieš všetkému, ale nemôžeš nič povedať? Sú vaše znalosti gramatiky rozptýlené? Zabúda sa na slová neustále? Musíte cestovať v tichosti?

          Pomáhame rozprávať a prekonávať jazykovú bariéru, systematizovať vedomosti, vysvetľovať gramatiku jednoduchým jazykom, pripravovať sa na skúšky, cestovanie a pohovory. Pre úzke požiadavky môžeme vytvoriť osobný program.

          Ešte lepšie je, že ak nás kontaktujete, aby ste sa naučili anglicky „od nuly“, môžeme okamžite položiť pevný základ vašich vedomostí.

          Bohužiaľ nebudeme môcť pomôcť tým, ktorí veria, že angličtinu sa dá naučiť za tri dni, prepadnúť „tajným“ autorským metódam a nechcú sa nijako namáhať.
        </p>
      </div>
      <!--end first reason why-->

      <!-- second reason -->
      <div class="row reason">
        <span class="reason-number">2</span>
        <div class="col-md-10 offset-md-1 mx-2">
          <a class="reason-title collapsed" data-toggle="collapse" href="#reason2" >Berieme na seba zložité a urgentné prípady</a>
        </div>
      </div>
      <div id="reason2" class="my-reason-description ">
        <p>
          Pohovor, na ktorý ste čakali, je naplánovaný na tento týždeň. Na prípravu na pohovor v ruštine máte iba 2-3 dni!

          Všetko je pripravené na presun do zahraničia a potom zistíte, že na predloženie dokumentov potrebujete medzinárodný certifikát v ruštine (IELTS, FCE, CAE atď.). Naliehavo potrebujete jasnú radu a prax!

          Vieme, čo máme v týchto situáciách robiť, a radi prijmeme každú neštandardnú úlohu.
        </p>
      </div>
      <!--end second reason-->

      <!--  third reason-->
      <div class="row reason">
        <span class="reason-number">3</span>
        <div class="col-md-10 offset-md-1 mx-2">
          <a class="reason-title collapsed" data-toggle="collapse" href="#reason3" >Náš prístup funguje</a>
        </div>
      </div>
      <div id="reason3" class="my-reason-description" >
        <p>
          Online formát kombinuje všetky faktory efektívneho tréningu.

          Všetky hodiny prebiehajú individuálne, to znamená, že učiteľ venuje všetko svoje úsilie vášmu tréningu. Hovoríte 70% hodiny, úlohy sú prispôsobené podľa vášho želania, učiteľ môže venovať osobitnú pozornosť „slabým miestam“.

          Učiteľ je hlavným motorom vášho pokroku. Pomôže, pochváli, skontroluje. Zamestnávame iba silných učiteľov z rôznych miest a krajín, pre ktorých je ruština nielen líniou v diplome, ale aj povolaním, láskou a koníčkom.

          Chápeme, že nepotrebujete ruštinu, ako ju učia filológovia. Preto vysvetľujeme gramatiku v jednoduchom jazyku, nastavujeme zaujímavé úlohy, sledujeme videá a hlavne veľa hovoríme v ruštine.

          Naším poslaním je, aby bolo učenie ruštiny jednoduché a zábavné pre všetkých študentov!
        </p>
      </div>
    <!--  end third reason-->
    </div>



</div>
<!--end section reasons why-->
