
<div class="jumbotron features-section jumbotron my-top-jumbotron">

  <!-- Grid row -->
  <div class="row ">

    <!-- Grid column -->
    <div class="col-md-7 ml-3 mt-3">

      <!-- Excerpt -->
      <h1 class="h1 mb-2">O škole</h1>

      <h4 class="display-6 ">Online škola „RusJaz“ je moderná služba osobnej výučby ruského jazyka. Našim študentom pomáhame zlepšovať vedomosti a tešiť sa z každej hodiny.</h4>
      <div class="my-button-place">
        <a class="btn btn-lg my-button" href="#" role="button">Skúšobná lekcia</a>
        <a class="btn btn-lg my-button-2" href="#" role="button">Historia školy</a>
      </div>



    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img class="my-img-about" src ="../../assets/about.png">

      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->
