.display-4{
  text-align: center;
  font-family: Fira Sans,sans-serif;
  font-weight: bold;
  color: white;
}

.my-9 {
  margin-left: 5% !important;
}

.my-top-jumbotron {
  background-color: #ce4a37 !important;
  color: white;
  border-top-left-radius: 0em !important;
  border-top-right-radius: 0em !important;
}

.lead {
  text-align: center;
}


.my-button {
  border-color: orange !important;
  background-color: orange;
  color: black;
  font-weight: bold;
  border-radius: 20em/20em;
  margin-top: 20px;
}

.my-button-2 {
  border-color: white;
  color: white;
  font-weight: bold;
  border-radius: 20em/20em;
  margin-left: 30px;
  margin-top: 20px;
}

.my-img-about {
   width: 250px;
   height: auto;
 }

.display-6 {
  margin-top: 30px;
}

.my-reasons-title {
  text-align: center;

}

.my-reason-title {
  margin-top: 30px;
}

/*.my-reason-description {*/
/*  margin: 30px;*/
/*}*/

.my-number {
  background-color: #ce4a37;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  text-align: center ;
}

.section-my-reasons {
  background-color: #e9ecef;
}

.media-heading {
  margin-top: 25px;
  font-weight: bold;
}

.my-base-info {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.my-col {
  padding: 0;
}

.media-body {
  text-align: center;
}

.my-icon {
  background-size: 100% 100%;
}

@media screen and (max-width:1000px) {
  .hide-this{
    display:none;
  }
  /*#reason1*/
  /*{*/
  /*  display: inline;*/
  /*}*/
}

.reason-number {
  /*left: -60px;*/
  border-radius: 50%;
  /*min-width: 70px;*/
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-right: 15px;
  background-color: #ce4a37;
  color: #fff;
  font-size: 1.875rem;
  font-family: Fira Sans, sans-serif;
  font-weight: bold;
  text-align: center;
}

.reason-wrapper, .base-wrapper, .top-wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.my-reasons {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*---*/
.reason-title{
  color: black;
  font-size: 35px;
}
