
<div class="jumbotron my-top-jumbotron">

  <!-- Grid row -->
  <div class="row ">

    <!-- Grid column -->
    <div class="col-md-7 ml-3 mt-3">

      <!-- Excerpt -->
      <h1 class="h1 mb-2">O škole</h1>

      <h4 class="display-6 ">Online škola „RusJaz“ je moderná služba osobnej výučby ruského jazyka. Našim študentom pomáhame zlepšovať vedomosti a tešiť sa z každej hodiny.</h4>
      <div class="my-button-place">
        <a class="btn btn-lg my-button" href="#" role="button">Skúšobná lekcia</a>
        <a class="btn btn-lg my-button-2" href="#" role="button">Historia školy</a>
      </div>



    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img class="my-img-about" src ="../../assets/about.png">

      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->


<!--section - reasons why-->

<div class="my-reasons">
  <div class="my-reasons-title">
    <h1>Почему выбирают «Инглекс»? </h1>
  </div>

  <div class="row">
    <div class="col-md-1 offset-md-1 mx-2 my-number">
      <h2> 1 </h2>
    </div>
    <div class="col-md-10 offset-md-1 mx-2">
      <h2>Решаем ваши задачи</h2>
    </div>
  </div>




  <div class="my-reason-description">
    <p>У каждого студента своя история. Возможно, вы учили язык в школе и университете, но так и не выучили? Все понимаете, а сказать ничего не можете? Знания грамматики разрознены? Слова постоянно забываются? Приходится путешествовать молча?

      Мы помогаем разговориться и преодолеть языковой барьер, систематизировать знания, объясняем грамматику простым языком, готовим к экзаменам, путешествиям и собеседованиям. Можем построить персональную программу под узкие запросы.

      Еще лучше, если вы обратитесь к нам для изучения английского «с нуля», тогда мы сможем сразу заложить прочный фундамент ваших знаний.

      К сожалению, не сможем помочь тем, кто верит, что английский можно выучить за три дня, клюет на «секретные» авторские методики и не хочет прикладывать никаких усилий.
    </p>
  </div>
</div>
