
<!-- News jumbotron -->
<div class="jumbotron section top-banner">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-8 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <h1 class="h1 mb-2">Kontakty</h1>

      <h4>Pracujeme denne od 9:00 do 21:00 moskovského času, hodiny vedieme nepretržite. Kontaktujte nás akýmkoľvek pohodlným spôsobom!</h4>

      <a class="btn my-button-2">Napísať nám</a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="../../assets/contacts.png" class="my-img-contacts">
        <!--        <a>-->
        <!--          <div class="mask rgba-white-slight"></div>-->
        <!--        </a>-->
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->

<div class="section client-section">

  <!-- Grid row for features about teachers-->
  <div class="row">
    <div class="col-md-2 offset-md-1 mx-2">
      <h3 class="my-text-red">+421 111 000 333</h3>
      <p>pre volania zadarmo zo Slovenska</p>
    </div>
    <div class="col-md-3 offset-md-1 mx-2">
      <h3 class="my-text-red">+421 222 111 333</h3>
      <p>pre volania zo zahraničia</p>
    </div>
    <div class="col-md-3 offset-md-1 mx-2">
      <h3 class="my-text-red">rusjaz.sk</h3>
      <p>Skype</p>
    </div>
    <div class="col-md-3 offset-md-1 mx-2">
      <h3 class="my-text-red">rusjaz@gmail.com</h3>
      <p>Email</p>
    </div>
  </div>
  <div class="client-title">
  <h1>Oddelenie služieb zákazníkom</h1>
  </div>
</div>



<!-- News jumbotron -->
<div class="jumbotron  section head-of-clients">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="../../assets/head.png" class="my-img-head">
        <!--        <a>-->
        <!--          <div class="mask rgba-white-slight"></div>-->
        <!--        </a>-->
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <h2 class="h2 mb-2">Karl Scastny</h2>
      <p>Vedúci oddelenia vzťahov so zákazníkmi</p>
      <p class="head-description">Odporučíme vhodného učiteľa a pomôžeme vám s výberom kurzu. Budeme radi, keď sa dozvieme o vašich želaniach v procese učenia sa a odpovieme na všetky otázky. Tešíme sa na vaše požiadavky!</p>

      <a class="btn my-button-2">Napisat nam</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->



<!-- News jumbotron -->
<div class="jumbotron section work-section">

    <div class="">

      <!-- Excerpt -->
      <div class="my-work-title-section">
        <h2 class="work-title">Práca pre učiteľov</h2>
        <p>Pozývame silných učiteľov angličtiny,</p>
        <p>aby pracovali na jednotlivých hodinách online</p>
      </div>


      <!-- Grid row for features about teachers-->
      <div class="row work-linky">
        <div class="col-md-4 offset-md-1 mx-2">
          <a class="pull-top">
            <img class="media-object image-information my-icon" src="../../assets/information.png">
          </a>
          <h2 class=""> Informácie o práci </h2>
          <a href="#">http://job.rusjaz.sk</a>
        </div>
        <div class="col-md-3 offset-md-1 mx-2">
          <a class="pull-top">
            <img class="media-object image-review my-icon" src="../../assets/review.png">
          </a>
          <h2 class="">Spätná väzba od našich učiteľov</h2>
          <a href="">Pozri</a>
        </div>
        <div class="col-md-4 offset-md-1 mx-2">
          <a class="pull-top">
            <img class="media-object question my-icon" src="../../assets/question.png">
          </a>
          <h2 class="">Opýtať sa otázku</h2>
          <a href="#">hr@rusjaz.sk</a>
        </div>
      </div>

    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->
