<!-- News jumbotron -->
<div class="jumbotron section my-top-jumbotron top-banner">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-8  ml-3 mt-3 my-top-text">

      <!-- Excerpt -->
      <h1 class="h1 mb-2">Kurzy ruského jazyka</h1>

      <h4>Kurzy angličtiny delíme na základné a špeciálne. Odporúčame vám prejsť si tie hlavné. Špeciály sú úplne šité na mieru vašim želaniam.</h4>

      <div class="my-button-place">
        <a class="btn btn-lg my-button" href="#" role="button">Skúste zadarmo</a>

      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 offset-md-1 mx-3 my-3 ">

      <!-- Featured image -->
      <div class="view overlay">
        <img class="hide-this my-img-about" src ="../../assets/courses-topbar.png" alt="courses image banner">
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->

<h3 class=" my-table-name">Nase Kurzy</h3>
<table  class="table table-hover my-table">
  <thead>
  <tr>
    <th scope="col" [appSort]="courses" data-order="desc" data-name="id">ID</th>
    <th scope="col" [appSort]="courses" data-order="desc" data-name="nazov">Nazov</th>
    <th scope="col" [appSort]="courses" data-order="desc" data-name="cena">Cena</th>
    <th scope="col">Popis</th>
    <th class="my-button-delete" scope="col">Vymazanie</th>
    <th class="my-button-edit" scope="col">Editovanie</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let course of courses">
    <tr>
      <td>{{course.id}}</td>
      <td>{{course.nazov}}</td>
      <td>{{course.cena}}</td>
      <td>{{course.popis}}</td>
      <td class="my-button-delete"><button class="btn btn-danger" (click)="onDeleteCourse(course.id)"><i class="fa fa-trash"></i></button></td>
      <td class="my-button-edit"><button class="btn btn-success" (click)="updateCourse(course.id)"><i class="fa fa-bars"></i></button></td>
    </tr>
  </ng-container>
  </tbody>
</table>





