<!--first section of main page-->
<div class="section top-section">
  <div class="jumbotron my-top-jumbotron">
    <h1 class="display-4">Poďme učiť ruštinu cez Skype</h1>
    <h4 class="display-6">Súkromné hodiny s najlepšími učiteľmi s celého sveta!</h4>
    <div class="my-button-place">
      <a class="btn btn-lg my-button" href="#" role="button">Vyskusat zadarmo</a>
    </div>

    <div class="lead" id="banner">
      <div class="inline-block">
        <img class="hide-this my-people-1" src ="../../assets/main-left.png" alt="hlavna stranka chlap">
      </div>
      <!--    <div class="my-button-place inline-block">-->
      <!--      <a class="btn btn-lg my-button" href="#" role="button">Vyskusat zadarmo</a>-->
      <!--    </div>-->
      <div class="inline-block">
        <img class="hide-this my-people-2" src="../../assets/main-right.png" alt="hlavna stranka devca">
      </div>
    </div>
  </div>
</div>


<!--second section of main page-->

<div class="section reasons-section">
  <div>
    <h1 class="my-reason-title">Vyberte pohodlnú ruštinu</h1>
  </div>
  <div class="container-fluid my-reasons">
    <div class="row my-4">
      <div class="col-sm-6">
        <ul class="featured-list featured-list-bordered media-list">
          <li class="mb-5 media">
            <a class="pull-left">
              <div class="media-object image-program my-icon"></div>
            </a>
            <div class="media-body">
              <h3 class="media-heading">Osobný program</h3>
              <div class="media">
                <p>
                  Program bude vytvorený pre vaše potreby.
                </p>
              </div>
            </div>
          </li>

          <li class="mb-5 media">
            <a class="pull-left">
              <div class="media-object image-money my-icon" > </div>
            </a>
            <div class="media-body">
              <h3 class="media-heading">Dobré ceny</h3>
              <div class="media">
                <p>
                  Máme skvelé kurzy za pekné ceny. Často poskytujeme zlavy.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="featured-list featured-list-bordered media-list">
          <li class="mb-5 media">
            <a class="pull-left">
              <div class="media-object image-teacher my-icon"></div>
            </a>
            <div class="media-body">
              <h3 class="media-heading">Silní učitelia</h3>
              <div class="media">
                <p>
                  Vybrali sme najlepších učiteľov, ktorí vedia učiť.
                </p>
              </div>
            </div>
          </li>
          <li class="mb-5 media">
            <a class="pull-left">
              <div class="media-object image-talk my-icon"></div>
            </a>
            <div class="media-body">
              <h3 class="media-heading">Rozprávajte sa a učte sa</h3>
              <div class="media">
                <p>
                  Od prvej hodiny budete rozprávať po rusky, aj keď ste to nikdy predtým neurobili.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--third section of main page-->

<!-- News jumbotron -->
<div class="jumbotron  p-4 section features-section">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="../../assets/teacher.png" class="my-img-teacher" alt="ucitelka">
<!--        <a>-->
<!--          <div class="mask rgba-white-slight"></div>-->
<!--        </a>-->
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <h2 class="h2 mb-2">Silní učitelia</h2>

      <p class="">Výber a školenie učiteľov je našou hlavnou odbornosťou.
        Zostavili sme tím 396 nadšencov, ktorí zasvätili svoje životy učeniu a výučbe ruštiny. Študujte s tými najlepšími v online škole ruského jazyka „RusJaz“!.</p>

      <!-- Grid row for features about teachers-->
      <div class="row">
        <div class="col-md-2 offset-md-1 mx-2">
          <h2 class="my-text-red"> 396 </h2>
          <p>učiteľov</p>
        </div>
        <div class="col-md-3 offset-md-1 mx-2">
          <h2 class="my-text-red">1 z 190</h2>
          <p>kandidátov prejde naším výberom</p>
        </div>
        <div class="col-md-3 offset-md-1 mx-2">
          <h2 class="my-text-red">9 rokov</h2>
          <p>priemerná pedagogická prax</p>
        </div>
      </div>

      <a class="btn my-button-2">Vyberte si učiteľa</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->


<!--fourth part of main page-->

<!--<div class="container">-->
<!--  <h4 class="page-header">Pravdiva cena</h4>-->
<!--  <div class="row">-->
<!--    <div class="col-sm-3">-->
<!--      <select class="form-control">-->
<!--        <option value="5">5 hodin</option>-->
<!--        <option value="10">10 hodin</option>-->
<!--        <option value="15">15 hodin</option>-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->
<!--  <br />-->
<!--</div>-->
