.display-4{
  text-align: center;
  font-family: Fira Sans,sans-serif;
  font-weight: bold;
  color: white;
}

h4 {
  text-align: center;
}

.my-top-jumbotron {
  background-color: #ce4a37 !important;
  color: white;
  border-radius: 50em/5em;
  border-top-left-radius: 0em !important;
  border-top-right-radius: 0em !important;
}

.lead {
  text-align: center;
}

.my-button {
  border-color: orange !important;
  background-color: orange;
  color: black;
  font-weight: bold;
  border-radius: 20em/20em;
}

.my-button-2 {
  border-color: #ce4a37 !important;
  color: #ce4a37;
  font-weight: bold;
  border-radius: 20em/20em;
  margin-top: 30px;
}

.my-button-place {
  margin-top: 100px;
  text-align: center !important;
}

.inline-block {
  margin-top: 100px;
  text-align: center;
  display: inline-block;
}

@media screen and (max-width:1200px) {
  .hide-this{
    display:none;
  }
}

.my-people-1 {
  margin-right: 150px;
}

.my-people-2 {
  margin-left: 150px;
}

.my-reason-title {
  text-align: center;
  font-family: Fira Sans,sans-serif;
  font-weight: bold;
  margin-top: 50px;
}

.my-reasons {
  margin-top: 80px;
}

.my-icon {
  background-image: url(../../assets/icons-together.png);
  width: 100px;
  height: 100px;
}
.image-teacher {
  background-position: -220px -110px;
}

.image-talk {
  background-position: 0px -110px;
}

.image-money {
  background-position: -110px 0px ;
}

.my-text-red {
  color: #ce4a37;
}

.my-img-teacher {
  width: 300px;
  height: auto;
  margin-left: 20%;
}

/*fourth part of main page*/
@media (min-width: 768px) {
  .form-search .combobox-container,
  .form-inline .combobox-container {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
  }
  .form-search .combobox-container .input-group-addon,
  .form-inline .combobox-container .input-group-addon {
    width: auto;
  }
}

.combobox-selected .caret {
  display: none;
}

