<!-- News jumbotron -->
<div class="jumbotron section my-top-jumbotron top-banner">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-8  ml-3 mt-3 my-top-text">

      <!-- Excerpt -->
      <h1 class="h1 mb-2">Kurzy ruského jazyka</h1>

      <h4>Kurzy angličtiny delíme na základné a špeciálne. Odporúčame vám prejsť si tie hlavné. Špeciály sú úplne šité na mieru vašim želaniam.</h4>

      <div class="my-button-place">
        <a class="btn btn-lg my-button" href="#" role="button">Skúste zadarmo</a>

      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 offset-md-1 mx-3 my-3 ">

      <!-- Featured image -->
      <div class="view overlay">
        <img class="hide-this my-img-about" src ="../../assets/courses-topbar.png" alt="courses image banner">
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->


<form #authForm="ngForm" (ngSubmit)="onCreateCourse(authForm)" class="my-form"  #f="ngForm">
  <h3 class="my-form-name">Pridat kurz</h3>
  <div class="form-group">
    <label for="nazov">Nazov kurza</label>
    <input
      type="text"
      required minlength="5" maxlength="100"
      class="form-control"
      id="nazov"
      placeholder="Napíš názov kurzu"
      name="nazov"
      [(ngModel)]="courses.nazov"
      #nazov="ngModel"
    >
    <div class="alert alert-danger" *ngIf="!nazov.valid && nazov.touched">Zadajte názov kurzu!</div>
  </div>

  <div class="form-group">
    <label for="cena">Cena</label>
    <input
      type="number"
      required
      class="form-control"
      id="cena"
      placeholder="Napíš cenu kurzu"
      name="cena"
      min="1" max="5"
      [(ngModel)]="courses.cena"
      #cena="ngModel">
    <div class="alert alert-danger" *ngIf="!cena.valid && cena.touched">Prosim zadajte spravnu cenu</div>
  </div>

  <div class="form-group">
    <label for="popis">Popis</label>
    <input
      type="text"
      class="form-control"
      id="popis"
      placeholder="Napíš komentár k kurzu"
      name="popis"
      ngModel
    >
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">Pridat kurz</button>
</form>
