<!-- News jumbotron -->
<div class="jumbotron section my-top-jumbotron top-banner">
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-8  ml-3 mt-3 my-top-text">
      <!-- Excerpt -->
      <h1 class="h1 mb-2">Kurzy ruského jazyka</h1>
      <h4>Kurzy angličtiny delíme na základné a špeciálne. Odporúčame vám prejsť si tie hlavné. Špeciály sú úplne šité na mieru vašim želaniam.</h4>
      <div class="my-button-place">
        <a class="btn btn-lg my-button" href="#" role="button">Skúste zadarmo</a>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 offset-md-1 mx-3 my-3 ">
      <!-- Featured image -->
      <div class="view overlay">
        <img class="hide-this my-img-about" src ="../../assets/courses-topbar.png" alt="courses image banner">
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</div>
<!-- News jumbotron -->

<h3 class=" my-table-name">Nase Kurzy</h3>
<table  class="table table-hover my-table">
  <thead>
  <tr>
    <th scope="col" [appSort]="courses" data-order="desc" data-name="nazov">Nazov</th>
    <th scope="col" [appSort]="courses" data-order="desc" data-name="cena">Cena</th>
    <th scope="col">Popis</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let course of courses">
    <tr>
      <td>{{course.nazov}}</td>
      <td>{{course.cena}}</td>
      <td>{{course.popis}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>



<!--third section of main page-->
<!-- News jumbotron -->
<div class="jumbotron  p-4 section features-section">
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">
      <!-- Featured image -->
      <div class="view overlay">
        <img src="../../assets/teacher.png" class="my-img-teacher" alt="ucitelka">
      </div>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">
      <!-- Excerpt -->
      <h2 class="h2 mb-2">Silní učitelia</h2>
      <p class="">Výber a školenie učiteľov je našou hlavnou odbornosťou.
        Zostavili sme tím 396 nadšencov, ktorí zasvätili svoje životy učeniu a výučbe ruštiny. Študujte s tými najlepšími v online škole ruského jazyka „RusJaz“!.</p>
      <!-- Grid row for features about teachers-->
      <div class="row">
        <div class="col-md-2 offset-md-1 mx-2">
          <h2 class="my-text-red"> 396 </h2>
          <p>učiteľov</p>
        </div>
        <div class="col-md-3 offset-md-1 mx-2">
          <h2 class="my-text-red">1 z 190</h2>
          <p>kandidátov prejde naším výberom</p>
        </div>
        <div class="col-md-3 offset-md-1 mx-2">
          <h2 class="my-text-red">9 rokov</h2>
          <p>priemerná pedagogická prax</p>
        </div>
      </div>
      <a class="btn my-button-2">Vyberte si učiteľa</a>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</div>
<!-- News jumbotron -->


